extends layout

block content
  h1= title
  p S3 Client
  p Objects
  
  table
    tr
        td NOmbre
        td Etag
        td UltimaModificacion
        
    each object in objects
        tr
            td= object.Key
            td= object.ETag
            td= object.LastModified